/*
 * Created by SharpDevelop.
 * User: qainfotech
 * Date: 9/19/2017
 * Time: 1:07 PM
 * 
 * To change this template use Tools | Options | Coding | Edit Standard Headers.
 */
<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.3" targetFramework="net45" />
  <package id="NLog" version="4.2.3" targetFramework="net45" />
  <package id="NLog.Config" version="4.2.3" targetFramework="net45" />
  <package id="NLog.Schema" version="4.2.3" targetFramework="net45" />
  <package id="NUnit" version="3.0.1" targetFramework="net45" />
  <package id="Selenium.Support" version="2.48.2" targetFramework="net45" />
  <package id="Selenium.WebDriver" version="2.48.2" targetFramework="net45" />
  <package id="TestStack.White" version="0.13.0" targetFramework="net45" />
  <package id="TestStack.White.ScreenObjects" version="0.13.0" targetFramework="net45" />
  <package id="TestStack.White.WebBrowser" version="0.13.0" targetFramework="net45" />
  <package id="YamlDotNet" version="3.7.0" targetFramework="net45" />
</packages>
